.hidden {
    display: none;
}

body {
    background-position: center;
    background-color: black;
    background-size: cover;
    color: white;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    margin: 0;
    padding: 0;
}

img {
    background-position: center;
    position: absolute;
    size: cover;
    width:100vw;
    height:100vh;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:60%;
}

#greeting {
    text-align: center;
    font-size: 40pt;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#clock {
    text-align: center;
    font-size: 120pt;
    margin-bottom: 0;
    padding-top: 50px;
    height: 120pt;
}

#quote {
    text-align: center;
    width: 700px;
    padding-bottom: 20px;
    bottom: 0;
    margin: 0 auto;
    left: -50%;
    right: -50%;
    position: fixed;
}

#quote span:first-child {
    font-size: 14pt;
}

#quote span:last-child {
    font-size: 12pt;
}

#todo-form {
    text-align: center;
    margin-top: 0;
}

#todo-form >p {
    font-size: 24pt;
    height: 24pt;
    margin: 0;
    padding-top: 20px
}

#todo-form >input {
    margin-top: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 3px;
    border-bottom-color: white;
    width: 410px;
    height: 30pt;
    font-size: 24pt;
    background: none;
}

#todo-list {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 14pt;
}

#weather {
    right: 0;
    top: 0;
    float: right;
    padding: 20px;
    text-align: right;
    position: absolute;
}

ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
    padding-left:0px;
  }