.hidden {
    display: none;
}

body {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    margin: 0;
    padding: 0;
}


img {
    position:absolute;
    width:100vw;
    height:100vh;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:70%;
}

#greeting {
    text-align: center;
    font-size: 40pt;
    margin-top: 0;
    margin-bottom: 0;
}

#clock {
    text-align: center;
    font-size: 120pt;
    margin-top: 15%;
    margin-bottom: 0;
    padding: 0;
}

#greeting {
    margin-top: 0;
    font-size: 40pt;
}

#quote {
    text-align: center;
    width: -50%;
    margin-bottom: 0;
}

#quote span:first-child {
    font-size: large;
    width: 600px;
    white-space: normal;
}

#quote span:last-child {
    font-size: medium;
}

#todo-form {
    text-align: center;
    margin-top: 0;
}

#todo-form p {
    font-size: 20pt;
}

#todo-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
}

#weather {
    right: 0;
    top: 0;
    float: right;
    padding: 20px;
    text-align: right;
    position: absolute;
}

ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }